<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--属性namespace 接口全路径-->
<mapper namespace="com.atguigu.gmall1213.product.mapper.SkuSaleAttrValueMapper">
    <resultMap id="skuSaleAttrValueMap" type="java.util.Map"></resultMap>

    <select id="getSaleAttrValuesBySpu" resultMap="skuSaleAttrValueMap">
        select sv.sku_id, group_concat(sv.sale_attr_value_id order by sp.base_sale_attr_id asc separator '|')
            value_ids from sku_sale_attr_value sv
            inner  join spu_sale_attr_value sp on sp.id = sv.sale_attr_value_id
            where sv.spu_id = #{spuId}
            group by sku_id;
    </select>
</mapper>